body {
	background: #007C89;
}

.vgap {
	height: 1vh;
}

.card {
	padding: .3vh;
	min-width: 2cm;
	width: 10vh;
	height: auto;
}

.flex-horiz {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	min-height: 20vh;
}

.btn {
	background: #6C63FF;
	font-color: red;
}

.tar {
	margin: 1vh;
	text-align: right;
	color: black;
}

.cntr {
	display: flex;
	justify-content: center;
}


